<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fatec.jade">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" />
        <activity
            android:name=".Principal"
            android:label="@string/app_name" />
        <activity
            android:name=".ExibicaoProduto"
            android:label="JADE" />
        <activity
            android:name=".TelaResultadoTrueProduto"
            android:label="JADE" />
        <activity
            android:name=".Sobre"
            android:label="JADE" />
        <activity
            android:name=".ExibicaoMarca"
            android:label="JADE" />
        <activity
            android:name=".TelaResultadoTrueMarca"
            android:label="JADE" />
        <activity android:name=".barcode.BarcodeCaptureActivity" />
        <activity
            android:name=".opcoes.SettingsActivity"
            android:label="@string/title_activity_settings" />
        />
        <activity
            android:name=".ListaResultados"
            android:label="Resultados" />
        <activity
            android:name=".Comentario"
            android:label="Comentários">
        </activity>
    </application>

</manifest>
